.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.navright  {
	float:right;
	margin-right:10px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* crolling */
}




body, html {
  height: 70%;
}

.parallax {
  /* The image used */
  background-image: url('images/img1.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





.cMonTableau {
    width:400px;
    border-collapse: separate;
    border-spacing: 10px;
    border-style: solid;  /* medium|thin|thick|length|initial|inherit */
    border-color: blue;
    border-width: 10px;
	
}

h1 {
	padding-top: 50px ;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: wavy;
    text-align: center;
    color:darkblue;

}



  
  
  
  	.header{
		display: block;
		width: 100%;
		height: 5em;
		position: fixed;
		background-color: blue;
		top: 0;
		overflow: hidden;
		position: sticky;
		overflow: hidden;
	
	}
	
	
	
	
	